body {
    font-family: "Audiowide"
}

#top-container {
    background-color: rgb(37, 32, 32);
    color: rgb(231, 225, 225);
    padding: 16px;
}

#mid-container {
    background-color: rgb(222, 213, 213);
    color: rgb(46, 39, 39);
    padding: 32px;
}

#bottom-container {
    background-color: rgb(19, 19, 69);
    color: rgb(231, 225, 225);
    padding: 32px;
    padding-top: 16px !important;
}

#message-area {
    padding: 0 0 0 64px
}

#room-exits {
    margin-top: 24px;
    display: flex;
    gap: 16px;
}

.exit {
    border-radius: 8px;
    border:rgb(19, 19, 69) solid 4px;
    padding: 4px;
    text-decoration: none;
    color: rgb(37, 32, 32);
    font-weight: 600;
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.3);
    transition: transform ease 0.2s
}

.exit:hover {
    transform: scale(1.1);
}