#top-container {
    background-color: rgb(37, 32, 32);
    color: rgb(231, 225, 225);
    padding: 8px;
}

#mid-container {
    background-color: rgb(222, 213, 213);
    color: rgb(46, 39, 39);
    padding: 32px;
}

#bottom-container {
    background-color: rgb(19, 19, 69);
    color: rgb(231, 225, 225);
    padding: 64px;
}